<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
        <add key="github" value="https://nuget.pkg.github.com/jonnybi/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="jonnybi" />
            <add key="ClearTextPassword" value="8f1a7f30477cc8e42a5e436fa7c256e8257925b6" />
        </github>
    </packageSourceCredentials>
</configuration>
